<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>Title</title>
    <link rel="stylesheet" href="../styles/css/checkboxInput.css">
</head>
<body>
    <input class="c-checkbox" type="checkbox" name="checkbox" id="checkbox1" value="" />

    <div class="section-form">
        <form class="form" action="" method="">
            <input class="input" type="email" name="email" placeholder="E-mail" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" required/>

            <label class="btn-label" for="checkbox1">
                <button class="btn" type="button">Send</button>
            </label>
        </form>

        <label for="checkbox1" class="c-label j-toggle" data-title="Notify me"></label>
    </div>
</body>
</html>